@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 8%);
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    
    align-items: center;
}

.main-container{
    max-width: 360px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-family: "Young Serif", serif;
    font-weight: 400;

}

.img{
    width: 100px;
    border-radius:100%;
}

.name-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h1{
    color: white;
    font-size: 28px;
}



.cc{
    color: hsl(75, 94%, 57%);
    font-size: 16px;
    letter-spacing: 0.2px;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
}

.Link-card {
   max-width:280px ;
    width: 90%;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover {
    color: #1e90ff;
}